<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/menu.js"></script>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<div id="menu-area">
    <div class="logo" id="logo">
        <a href="/">
            <img src="/images/tomato.png" alt="">

            <h2>RECIPE</h2>
        </a>
    </div>

    <form action="">
        <div class="search" id="search">
            <div class="search-input">
                <input type="text" placeholder="Type to search...">

                <button type="submit" class="icon"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <input type="checkbox" id="menuicon" onclick="visi()">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>

<div id="nav">
    <a href="/">추천</a>
    <a href="/list">분류</a>
    <a href="/review">후기</a>
    <a href="/ranking">랭킹</a>
    <a href="/chef">쉐프</a>
    <div class="line"></div>
</div>

<div class="menu" id="menu">
    <ul>
   
        <% if(sess.user_id == null) { %>
            <li data-text="Login"><a href="/user/login">Login</a></li>
            <li data-text="SignUp"><a href="/user/signUp">SignUp</a></li>
        <% } else { %>
            <li data-text="MyPage"><a href="/user/mypage">MyPage</a></li>
            <% if(sess.user_sort == "요리사") { %>
                <li data-text="제품등록"><a href="/product">제품등록</a></li>
            <% } %>
            <li data-text="Logout"><a href="/user/logout">Logout</a></li>
        <% } %>
        
        
       

    </ul>
</div>