<!-- <nav>
    <div class="container">
        <div class="navbar">
            <h1><a href="">RECIPE</a></h1>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">anything</a></li>
                <li><a href="">sign up</a></li>
                <li><a href="">login</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<script type="text/javascript" src="/javascripts/main.js"></script>

<div id="menu-area">
    <div class="logo">
        <a href="#">
            <img src="/images/tomato.png" alt="">
        
            <h2>RECIPE</h2>
        </a>
    </div>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
    </ul>

    <input type="checkbox" id="menuicon">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>