<link rel="stylesheet" href="/stylesheets/input.css">


<form method="POST" action="" class="container" style="height: 100vh;">
    <div class="wrapper">
        <input name="card_num" type="text" required="required">
        <label for="">카드 번호</label>
    </div>

    <div class="wrapper">
        <input name="card_date" type="text" required="required">
        <label for="">카드 유효기간</label>
    </div>

    <div class="wrapper">
        <input name="card_cvc" type="text" required="required">
        <label for="">CVC</label>
    </div>

    <div class="wrapper">
        <input name="card_type" type="text" required="required">
        <label for="">카드 종류</label>
    </div>

    <div class="btn">
        <input type="submit" value="카드등록" style="font-size: 25px;">
    </div>

</form>