<link rel="stylesheet" href="/stylesheets/input.css">


<form method="POST" action="" class="container" style="height: 100vh;">
    <div class="wrapper">
        <input name="review_title" type="text" required="required">
        <label for="">리뷰 제목</label>
    </div>

    <div class="wrapper">
        <input name="review_content" type="text" required="required">
        <label for="">리뷰 내용</label>
    </div>

    <div class="wrapper">
        <input name="review_content" style="font-size: 25px;" type="number" min="1" max="5" value="1" required="required">
        <label for="">점수</label>
    </div>

    <div class="btn">
        <input type="submit" value="리뷰 등록" style="font-size: 25px;">
    </div>

</form>