<link rel="stylesheet" href="/stylesheets/chefDetail.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>chef_name</h1>

<div class="container">
    <% for(var i = 0; i < 7; i++) { %>
        <div class="card">
            <a href="/list/detail"><img src="/images/tomato.png" alt="" class="card-image"></a>

            <div class="card-content">
                <p>title</p>
                <p>
                    <a href="#">
                        chef name
                    </a>
                </p>
            </div>

            <div class="card-info">
                <span>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <p>(4.7)</p>
                </span>
                <div>
                    <a href="/list/detail" class="card-link">View Article</a>
                </div>
            </div>
        </div>
    <% } %>
</div>