<link rel="stylesheet" href="/stylesheets/chef.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <div class="review">
        <div class="title">
            <h3>ì‰í”„</h3>
        </div>

        <%for(var i=0; i < Info.Info.length; i++ ) {%>
       
        <div class="review-content">
            <div class="review-detail">
               
                <a href="/chefDetail/<%= Info.Info[i].chef_id%>"><h3><%= Info.Info[i].chef_name%></h3></a>
                <span>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <p><%= Info.Info[i].score%></p>
                </span>
              
            </div>

            <%for(var j=0; j < Info.categoryInfo[i].length; j++) {%>

            <div class="content">
                <p><%= Info.categoryInfo[i][j].category_name%></p>
            </div>
           <%}%>
        </div>
        <%}%>       
    </div>
</div>