<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <%- include('../views/partials/nav') %>

    <div>
      <%- include(pages)%>
  </div>
  
  </body>
</html>
