<link rel="stylesheet" href="/stylesheets/detail.css">

<div class="container">
    <div class="view">
        <div class="goods-img">
            <img src="/images/tomato.png" alt="">
        </div>

        <div class="goods-content">
            <h3>
                <p>title</p>
            </h3>

            <div class="info">
                sub info
            </div>

            <div class="price-box">
                <h3>price ex) 40,000won</h3>
            </div>

            <div class="rating">
                rating info
            </div>

            <div class="price-total">
                <div class="count">
                    <h3>수량 : </h3>
                    <input type="number" value="1" min="1">
                </div>
                <div class="price">
                    금액 : price
                </div>
            </div>

            <div class="choice">
                <button class="choice-btn">장바구니</button>
                <button class="choice-btn">바로주문</button>
            </div>

        </div>
    </div>
</div>