<link rel="stylesheet" href="/stylesheets/input.css">

<form action="" class="container">
    <div class="wrapper">
        <input type="text" required="required">
        <label for="">id</label>
    </div>

    <div class="wrapper">
        <input type="password" required="required">
        <label for="">password</label>
    </div>
</form>