<script type="text/javascript" src="/javascripts/main.js"></script>

<div class="banner-area">
    <div class="banner-text">
        <h2>RECIPE</h2>
        <a href="#">Learn More</a>
    </div>
</div>

<div class="main-content">
    <div class="wrapper">
        <h2>Content Header</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium soluta consectetur laudantium et libero doloribus ratione nemo neque voluptate rerum facere quis, adipisci eligendi asperiores deleniti expedita? Et, eos qui.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore expedita corrupti, recusandae facere porro sequi praesentium deserunt, nulla, officia consequatur nemo repellat voluptas illo harum dolores accusantium soluta necessitatibus distinctio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum praesentium voluptatem hic. Omnis ut, ducimus asperiores non ipsam architecto tenetur repudiandae. Corrupti, corporis officia! A ipsum atque nisi pariatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore obcaecati, beatae qui magni incidunt voluptatibus aut nihil deserunt, saepe, debitis necessitatibus tempora. Aut ab maxime magnam labore repudiandae accusamus a!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium soluta consectetur laudantium et libero doloribus ratione nemo neque voluptate rerum facere quis, adipisci eligendi asperiores deleniti expedita? Et, eos qui.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore expedita corrupti, recusandae facere porro sequi praesentium deserunt, nulla, officia consequatur nemo repellat voluptas illo harum dolores accusantium soluta necessitatibus distinctio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum praesentium voluptatem hic. Omnis ut, ducimus asperiores non ipsam architecto tenetur repudiandae. Corrupti, corporis officia! A ipsum atque nisi pariatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore obcaecati, beatae qui magni incidunt voluptatibus aut nihil deserunt, saepe, debitis necessitatibus tempora. Aut ab maxime magnam labore repudiandae accusamus a!
    </div>
</div>

