<script type="text/javascript" src="/javascripts/main.js"></script>
<link rel="stylesheet" href="/stylesheets/main.css">


<div class="banner-area">
    <div class="banner-text">
        <h2>RECIPE</h2>
        <a href="#">Learn More</a>
    </div>
</div>

<div class="container">

    <div class="card">
        <div class="card-image">

        </div>

        <div class="card-text">
            <div class="date">
                4days ago
                <h2>post one</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, explicabo eveniet minus, id
                    consequuntur impedit, deleniti ad quas perferendis quibusdam inventore voluptatibus aperiam
                    reiciendis rem eos. Corrupti porro consectetur sunt?</p>
            </div>
        </div>

        <div class="card-stats">

        </div>
    </div>

</div>