<div class="menu">
    <ul>
        <li data-text="Home"><a href="#">Home</a></li>
        <li data-text="About"><a href="#">About</a></li>
        <li data-text="Serviecs"><a href="">Services</a></li>
        <li data-text="Team"><a href="">Team</a></li>
        <li data-text="Contact"><a href="">Contact</a></li>
    </ul>
</div>
