<div class="box">
    <div class="section-title">
        <h1>배송지 내역</h1>
        <a href=#>추가</a>
    </div>
    <% for(i = 0; i < myPageInfo.readAddrData.length ; i++) { %>
        
    <div class="box-content">
        <a href="#">삭제</a>
        <div class="detail">
            <label for="">우편번호 : </label>
            <input type="text" id="card_num" name="card_num" value="<%= myPageInfo.readAddrData[i].place_num%>" readonly required="required">
        </div>

        <div class="detail">
            <label for="">기본주소 : </label>
            <input type="text" id="card_date" name="card_date" value="<%= myPageInfo.readAddrData[i].place_addr%> " readonly
                required="required">
        </div>

        <div class="detail">
            <label for="">상세주소 : </label>
            <input type="text" id="card_type" name="card_type" value="<%= myPageInfo.readAddrData[i].place_addrinfo%>" readonly
                required="required">
        </div>
        
    </div>
    
    <% } %>
</div>