<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <%- include('../views/partials/nav') %>

    <div>
      <%- include('../views/mypageInfo')%>
  </div>
  
  </body>
</html>