
<div class="box">
    <div class="section-title">
        <h1>구매 후기</h1>
    </div>

    <div class="content">
        <table class="table">
            <colgroup>
                <col style="width: auto">
                <col style="width:40%">
                <col style="width:45%">

            </colgroup>

            <thead>
                <tr>
                    <th scope="col">상품정보</th>
                    <th scope="col">내용</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < 7; i++) { %>
                <tr>
                    <td>
                        <div class="row">
                            <img src="/images/tomato.png" alt="" class="gift-img">
                            <ul>
                                <li><a href="#">쉐프명</a></li>
                                <li><a href="#">제품명</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span>
                            df
                        </span>
                        <p>dddddddddddddddddddddddddddddddddddddddddddddd</p>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>