<link rel="stylesheet" href="/stylesheets/input.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<form action="/product" method="post" class="container" enctype="multipart/form-data">
    <div class="wrapper">
        <input type="text" name="recipe_title" required="required">
        <label for="">레시피 이름</label>
    </div>

    <div class="wrapper">
        <input type="text" name="recipe_content" required="required">
        <label for="">레시피 내용</label>
    </div>

    <div class="wrapper">
        <input type="text" name="recipe_price" required="required">
        <label for="">가격</label>
    </div>

    <div class="check">
        <p>카테고리</p>
        <br>
        <% for(var i=0; i < category.length; i++) { %>
            <input type="radio" name="category" value="<%=category[i].category_name%>" id=""> <%=category[i].category_name%>
            <% if(i % 5==4) { %>
                <br>
            <% } %>
        <% } %>
    </div>

    <div class="recipe">
        <h2>재료</h2>
        <a onclick="addIn()">추가하기</a>
    </div>

    <div class="step" id="stepIng" style="flex-direction: column;">
        <div id="stepIn">
            <div class="wrapper" style="width: 30%;">
                <input type="text" name="ingredient" required="required">
                <label for="">재료</label>
            </div>
            <div class="wrapper" style="width: 30%; margin-left: 20px;">
                <input type="text" name="count" required="required">
                <label for="">수량</label>
            </div>
        </div>
    </div>

    <div class="recipe">
        <h2>레시피 사진</h2>
        <a onclick="stepPlus()" style="cursor: pointer;" id="stepPlus">추가하기</a>

    </div>

    <div class="step" id="stepParents">
        <div id="steps">
            <div class="wrapping" id="wrapping">
                <div class="image" id="image1">
                    <div class="image-content">
                        <img id="goImg1" src="" alt="" hidden>
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <div class="text">No file chosen, yet!</div>
                    </div>
                    <div class="cancle-btn" id="cancle-btn1"><i class="fas fa-times"></i></div>
                    <div class="file-name">File name here</div>
                </div>
                <input type="file" name="recipe" id="default-btn1" hidden>
                <button type="button" onclick="defaultBtnActive(1)" id="custom-btn">Choose a file</button>
                <div class="wrapper" style="width: 430px;">
                    <input type="text" name="step" required="required">
                    <label for="">대표사진</label>
                </div>
            </div>

            
        </div>

    </div>

    <div class="btn">
        <input type="submit" value="레시피 등록" style="font-size: 25px;">
    </div>
    <script type="text/javascript" src="/javascripts/product.js"></script>

</form>