<link rel="stylesheet" href="/stylesheets/detail.css">

<div class="container">
    <div class="review">
        <div class="title">
            <h3>리뷰</h3>
            <p>개수</p>
        </div>

        <div class="review-content">
            <div class="review-">
                
            </div>

            <div class="content">

            </div>
        </div>
        
    </div>
</div>