.container {
    width: 100vw;
    height: 100vh;
    padding: 10%;
  }

  .view {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-direction: row;
  }

  .goods-img {
      width: 50%;
  }

.goods-img img {
    width: 80%;
}

.goods-content {
    width: 50%;
}

.goods-content div {
    margin-bottom: 20px;
    align-content: center;
}