.banner-area {
    background: url(/images/tomato.jpg);
    -webkit-background-size : cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .banner-text h2 {
    font-family: big john;
    font-size : 60px
  }
  
  .banner-text a {
    text-decoration: none;
    background: #262626;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50px;
  }
  
  .wrapper {
    padding: 70px;
  }

  .container {
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: roboto;
    border-radius: 18px;
    background-color: #262626;
    box-shadow: 5px 5px 15px;
    text-align: center;
  }

  .card-image {
    grid-area: image;
  }

  .card-text {
    grid-area: text;
  }

  .card-stats {
    grid-area: stats;
  }