/*-----------------------------메뉴 영역 ------------------------- */
#menu-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  position: relative;
  width: 100%;
  top: 0;
  transition: background 0.5s;
  background-color: #fff;
}


#menu-area .logo a {
  text-decoration: none;
}

#menu-area .logo h2 {
  display: inline-block;
  color: #262626;
  align-items: center;
  justify-content: space-around;
}

#menu-area .logo img {
  height: 70px;
  transition: height 0.5s;
  padding-top: 10px;
}

#menu-area ul {
  width: 500px;
  justify-content: space-around;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

#menu-area ul li a {
  text-decoration: none;
  color: #262626;
  border-radius: 50px;
}

#menu-area.cus-nav,
#menu-area:hover {
  background: #262626;
  z-index: 999;
}

#menu-area.cus-nav a,
#menu-area:hover a {
  color: #fff;
}

#menu-area.cus-nav .logo img,
#menu-area:hover .logo img {
  height: 65px;
}

#menu-area.cus-nav .logo h2,
#menu-area:hover .logo h2 {
  color: #fff;
  font-size: 20px;
}

/* ------------------------ nav -------------------------------*/
#nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #262626;
}

#nav a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  width: 200px;
  transition: all .4s ease-in-out;
}

#nav .line {
  position: absolute;
  width: 20%;
  height: 50px;
  background: orangered;
  transition: all .4s ease-in-out;
  margin-right: 80%;
}

#nav a:nth-child(2):hover ~ .line {
  margin-right: 40%;
  transition: all .4s ease-in-out;
}

#nav a:nth-child(3):hover ~ .line {
  margin-right: 0%;
  transition: all .4s ease-in-out;
}

#nav a:nth-child(4):hover ~ .line {
  margin-left: 40%;
  margin-right: 0%;
  transition: all .4s ease-in-out;
}

#nav a:nth-child(5):hover ~ .line {
  margin-left: 80%;
  margin-right: 0%;
  transition: all .4s ease-in-out;
}

/* #nav a:hover {
  background: orangered;
  border-radius: 8px;
} */

/* https://www.youtube.com/watch?v=Ap3GPr5jNVY */

/* .start-home, #nav li a:nth-child(1) ~ .line {
  background: orangered;
  border-radius: 8px;
} */
/*-----------------------------메뉴 ------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #262626;
  overflow: hidden;
  padding: 0 60px;
  font-family: 'Poppins', sans-serif;
}

#menuicon:checked ~ .menu {
  display: flex;
}

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu ul li {
  list-style: none;
}

.menu ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}

.menu ul li:hover:before {
  opacity: 0.05;
  letter-spacing: 0px;
}

.menu ul li a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: #fff;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

.menu ul:hover li a {
  opacity: 0;
}

.menu ul li a:hover {
  transform: scale(1.4);
  z-index: 1000;
  background: orangered;
  opacity: 1;
}

.menu ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transform: skewX(35deg);
  transition: 0s;
}

.menu ul li a:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}



/*-----------------------------메뉴 아이콘 ------------------------- */

#menuicon {
  display: none;
}

#menuicon + label {
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

#menu-area:hover #menuicon + label span,
#menu-area.cus-nav #menuicon + label span {
  background-color: #fff;
}

#menuicon + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #000;
  transition: all .35s;
}


#menuicon + label span:nth-child(1) {
  top: 0;
}

#menuicon + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#menuicon + label span:nth-child(3) {
  bottom: 0;
}

#menuicon:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#menuicon:checked + label span:nth-child(2) {
  opacity: 0;
}

#menuicon:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}